.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
    max-height: 300px;
}

.checkoutProduct_info {
    padding-left: 70px;
}

.checkoutProduct_info > button {
    background: #ffcc66; 
    border: none;
    border-radius: 50px;
    width: 190px;
    height: 27px;
    padding-top: 2px;
    color: #111;
    margin-top: 139px;
    margin-left: 730px;
}

.checkoutProduct_info > button:hover{
    cursor: pointer;
    background: #FFDE2B;
    transition: all 200ms ease-in-out;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 220px;
    height: 220px;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct_price{
    margin-top: 10px;
    
}